* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #575757;
}

.game {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 900px;
  height: 600px;
  position: relative;
}
.game .player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5ece5;
  font-size: 20px;
  transition: all 0.5s ease;
}
.game .score {
  font-size: 50px;
  color: #ca0a0a;
  text-align: center;
  margin-top: 10px;
}
.game .restart_game {
  position: absolute;
  top: 10%;
  left: 50%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  transform: translate(-50%);
  cursor: pointer;
  border-radius: 40px;
  border: none;
  outline: none;
}
.game .restart_game:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.game .restart_game img {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.game .dice_container {
  position: absolute;
  top: 25%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 200px;
  transform: translate(-50%);
}
.game .dice_container img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 49%;
  border-radius: 10px;
  display: none;
}
.game .roll {
  position: absolute;
  top: 68%;
  left: 50%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  transform: translate(-50%);
  cursor: pointer;
  border-radius: 40px;
  border: none;
  outline: none;
}
.game .roll:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.game .roll img {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.game .hold {
  position: absolute;
  top: 77%;
  left: 50%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 10px 20px;
  transform: translate(-50%);
  cursor: pointer;
  border-radius: 40px;
  border: none;
  outline: none;
}
.game .hold:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.game .hold img {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.game .final_score_container {
  position: absolute;
  top: 87%;
  left: 50%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 10px 32px;
  transform: translate(-50%);
  cursor: pointer;
  border-radius: 40px;
  border: none;
  outline: none;
}

.current {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 220px;
  height: 100px;
  flex-direction: column;
  background: #ca0a0a;
}
.current .current_score {
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin-top: 4px;
}

.inactive {
  opacity: 0.5;
}

.win {
  font-size: 50px;
  color: #1dda6b;
  text-align: center;
  margin-bottom: 100px;
}

.win_container {
  opacity: 1;
  color: #ca0a0a;
  background-color: #474646 !important;
}

.rules {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%);
  font-size: 20px;
  color: #292929;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  padding: 5px 25px;
  cursor: pointer;
}

.setup_score_modal,
.rules_modal {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0;
  padding: 30px;
  width: 400px;
  height: 200px;
  position: fixed;
  background-color: #fff;
  text-align: center;
  animation: modal 0.5s;
}
@keyframes modal {
  0% {
    top: -100%;
  }
  100% {
    top: 37%;
  }
}
.setup_score_modal .modal_head,
.rules_modal .modal_head {
  font-size: 20px;
  color: #443636;
  text-align: center;
}
.setup_score_modal .modal_input,
.rules_modal .modal_input {
  margin: 20px auto;
  padding: 5px;
  width: 300px;
  height: 40px;
  border: none;
  background-color: #e6dfde;
  border-radius: 5px;
  outline: none;
  display: block;
}
.setup_score_modal .modal_btn,
.rules_modal .modal_btn {
  margin: 0;
  padding: 5px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #00b7ff;
  border-radius: 5px;
  outline: none;
}

.rules_modal {
  height: auto;
  display: none;
  max-width: 90vw;
}
.rules_modal img {
  position: absolute;
  top: 20px;
  left: 90%;
  cursor: pointer;
}
.rules_modal h3 {
  margin-bottom: 10px;
  font-size: 30px;
}
.rules_modal p {
  font-size: 20px;
}

@media (max-width: 750px) {
  .game {
    height: 100vh;
  }

  .player {
    font-size: 14px !important;
  }

  .dice_container {
    transform: translate(-35%) !important;
  }
  .dice_container img {
    margin: 0;
    padding: 0;
    width: 70% !important;
    height: 70px !important;
  }

  .current {
    margin: 0;
    padding: 0;
    width: 120px;
    height: 85px;
  }

  .restart_game,
.hold,
.roll {
    font-size: 12px !important;
  }

  .rules {
    position: absolute;
    top: 3%;
    left: 50%;
  }
}
@media (max-width: 500px) {
  .game {
    flex-direction: column;
  }
  .game .player {
    padding: 10px 0;
  }
  .game .score {
    font-size: 30px;
  }

  .dice_container {
    margin: 0;
    padding: 0;
    width: 100px !important;
    height: 100px !important;
    position: absolute;
    top: 46% !important;
    left: 46% !important;
    display: flex;
    justify-content: space-between;
  }
  .dice_container img {
    margin-left: 5px !important;
    margin: 0;
    padding: 0;
    width: 50px !important;
    height: 50px !important;
  }

  .win {
    margin-bottom: 0;
  }

  .restart_game {
    position: absolute;
    top: 58% !important;
    left: 10% !important;
  }

  .final_score_container {
    position: absolute;
    top: 43% !important;
    left: 5% !important;
  }

  .hold {
    position: absolute;
    top: 51% !important;
    left: 93% !important;
  }

  .roll {
    position: absolute;
    top: 41% !important;
    left: 94% !important;
  }

  .current {
    margin: 0;
    padding: 5px;
    width: 120px;
    height: 60px;
    flex-direction: column;
    background: #ca0a0a;
  }
  .current .current_header {
    font-size: 0.7rem;
  }
  .current .current_score {
    font-size: 18px;
    color: #fff;
    text-align: center;
  }

  .rules {
    position: absolute;
    top: 51%;
    left: 6%;
  }
}
@media (max-width: 450px) {
  .restart_game p,
.hold p,
.roll p {
    display: none;
  }

  .restart_game {
    position: absolute;
    top: 58% !important;
    left: 4% !important;
  }

  .final_score_container {
    position: absolute;
    top: 43% !important;
    left: 4% !important;
  }

  .hold {
    position: absolute;
    top: 51% !important;
    left: 97% !important;
  }

  .roll {
    position: absolute;
    top: 42% !important;
    left: 96% !important;
  }

  .rules {
    position: absolute;
    top: 51%;
    left: 8%;
  }
}

/*# sourceMappingURL=style.css.map */
